<%- include("../partials/header") %>

<section class="card">
  <h2>Moje pošiljke</h2>
  <ul class="shipment-list">
    <% shipments.forEach(s => { %>
      <li class="shipment-item card">
        <strong>Primatelj:</strong> <%= s.receiverName %> (<%= s.receiverEmail %>)<br>
        <strong>Adresa:</strong> <%= s.receiverAddress %><br>
        <strong>Telefon:</strong> <%= s.receiverPhone %><br>

        <% if (s.courier) { %>
          <strong>Kurir:</strong> <%= s.courier.name %> (<%= s.courier.phone %>)<br>
        <% } else { %>
          <strong>Kurir:</strong> Nije dodijeljen<br>
        <% } %>

        <strong>Status:</strong> 
        <% if (s.status === "CREATED") { %>Kreirano<% } %>
        <% if (s.status === "ASSIGNED") { %>Uputeno<% } %>
        <% if (s.status === "IN_TRANSIT") { %>U tijeku<% } %>
        <% if (s.status === "DELIVERED") { %>Dostavljeno<% } %>
        <br>

        <strong>Cijena:</strong> <%= s.price %>
      </li>
    <% }) %>
  </ul>
</section>

<%- include("../partials/footer") %>
