<%- include("../partials/header") %>

<h2>Nova pošiljka</h2>

<% if (typeof error !== 'undefined') { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form method="POST" action="/shipments/create">

    <h3>Primatelj</h3>
    <input name="receiverName" placeholder="Ime" required>
    <input name="receiverEmail" placeholder="Email primatelja" required>
    <input name="receiverPhone" placeholder="Telefon" required>
    <input name="receiverAddress" placeholder="Adresa" required>
    <textarea name="description" placeholder="Opis paketa"></textarea>
    
    <h3>Dimenzije (cm)</h3>
    <input name="width" placeholder="Širina" required type="number" step="any">
    <input name="height" placeholder="Visina" required type="number" step="any">
    <input name="length" placeholder="Dužina" required type="number" step="any">
    <input name="weight" placeholder="Težina (kg)" required type="number" step="any">

    <h3>Način plaćanja</h3>
    <select name="paymentMethod">
        <option value="GOTOVINA">Gotovina unaprijed</option>
        <option value="PRILIKOM_POUZECA">Plaćanje prilikom preuzimanja</option>
        <option value="KARTICA">Kartično plaćanje</option>
    </select>

    <label for="senderCompany">Odaberite dostavnu službu:</label>
    <select name="company" id="senderCompany" required>
        <% companies.forEach(company => { %>
            <option value="<%= company._id %>"><%= company.name %></option>
        <% }) %>
    </select>

    <button type="submit">Pošalji paket</button>
</form>

<%- include("../partials/footer") %>
